/* ===== Reset & Base ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #f5f6fa;
  line-height: 1.7;
}

/* ===== Navbar ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #0f0f1a;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.9rem;
  font-weight: bold;
  color:white;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #e2e8f0;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: #ff7eb3;
}

/* ===== Contact Section ===== */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  text-align: center;
}

.contact .wrap {
  max-width: 700px;
  background: rgba(30, 41, 59, 0.85);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff7eb3;
}

.contact p {
  font-size: 1.1rem;
  color: #e2e8f0;
  margin-bottom: 30px;
}

/* ===== Social Links ===== */
.social-links a {
  font-size: 2rem;
  margin: 0 15px;
  color: #e2e8f0;
  box-shadow: 0 0 15px rgba(255, 0, 200, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.social-links a:hover {
  color: #e7e3e5;
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(255, 0, 200, 0.5);
}


/* ===== Responsive ===== */
@media (max-width: 768px) {
  header {
    padding: 20px 30px;
  }

  nav a {
    margin-left: 12px;
    font-size: 0.95rem;
  }

  .contact h1 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 1rem;
  }
}
